@import url("satoshi.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "satoshi", sans-serif;
}

.card-border-ligth::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -1px;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background: #faa628;
  box-shadow: #faa628 0px 0px 10px 3px, #faa628 0px 0px 25px 6px,
    #faa628 0px 0px 40px 10px;
  animation: borderMove 7s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-border-ligth:hover::before {
  opacity: 1;
}

.bg-svg {
  stroke: rgb(244, 244, 244);
  fill: transparent;
  stroke-width: 1px;
  stroke-dasharray: 1000px;
  animation: 5s linear 0s infinite normal none running strokeAnim;
}

.hover-selected:hover {
  z-index: 10;
}

@keyframes strokeAnim {
  0% {
    stroke-dashoffset: 2000px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes borderMove {
  0% {
    bottom: calc(100% - 4px);
    left: -1px;
  }
  25% {
    bottom: 0px;
    left: -1px;
  }
  50% {
    bottom: 0px;
    left: calc(100% - 3px);
  }
  75% {
    bottom: calc(100% - 4px);
    left: calc(100% - 3px);
  }
  100% {
    bottom: calc(100% - 4px);
    left: -1px;
  }
}
